# Assignment 2

## Convert F to C
Write a function in Python that converts degrees Fahrenheit to degrees Celsius. (To convert temperatures in degrees Fahrenheit to Celsius, subtract 32 and multiply by 5/9.)

In [1]:
def convert_f_to_c(degrees):
    if (type(degrees) == int) or (type(degrees) == float):
        return (degrees - 32) * 5/9
    else:
        return 'Error'

In [2]:
convert_f_to_c('test')

'Error'

In [3]:
convert_f_to_c(81)

27.22222222222222

In [4]:
convert_f_to_c(70)

21.11111111111111

Note: You can use the built-in function `round(number, decimal points)`:

In [5]:
def convert_f_to_c(degrees):
    if (type(degrees) == int) or (type(degrees) == float):
        return round((degrees - 32) * 5/9, 1)
    else:
        return 'Error'

In [6]:
convert_f_to_c(70)

21.1

## `teenager`
Write a function `teenager` that tells me if a given age counts as a teenager.

In [7]:
def teenager(age):
    if (type(age) == int) or (type(age) == float):
        return 13 <= age < 20
    else:
        return 'Enter a number'

In [8]:
teenager(20)

False

In [9]:
teenager(19.9)

True

In [10]:
teenager(15)

True

In [11]:
teenager(12.9)

False

## `letter_grade`

Write a function called `letter_grade` that takes in a number between 0 and 100 and returns a letter grade. (You can optionally figure out what to do with non-numbers, negative numbers, or numbers greater than 100.)

In [12]:
def letter_grade(points):
    # good line from mengyuan
    if type(points) != int and type(points) != float:
        return 'Not a number'
    # note that i didn't write all the lines for A+, B-, etc., 
    # but you should be able to figure out how to do it
    elif (points < 0) or (points > 100):
        return 'Points fall outside of bounds'
    elif points >= 90:
        return 'A'
    elif points >= 80:
        return 'B'
    elif points >= 70:
        return 'C'
    elif points >= 60:
        return 'D'
    else:
        return 'F'

In [13]:
letter_grade(95)

'A'

In [14]:
letter_grade(32)

'F'

In [15]:
letter_grade(100)

'A'

In [16]:
letter_grade(0)

'F'

In [17]:
letter_grade(200)

'Points fall outside of bounds'

In [18]:
letter_grade(-10)

'Points fall outside of bounds'

In [19]:
letter_grade('test')

'Not a number'

## `parity`

Write a function called `parity` that tells us if an argument is odd, even, or neither.

In [20]:
def parity(n):
    if (type(n) != int):
        return 'not an integer'
    elif (n % 2 == 0):
        return 'even'
    else:
        return 'odd'

In [21]:
parity(100)

'even'

In [22]:
parity(5)

'odd'

In [23]:
parity(-5)

'odd'

In [24]:
parity(0.3)

'not an integer'

In [25]:
parity(100.0)

'not an integer'

Note: By the way, this function doesn't perfectly work! `100.0` is an even number, but because we represented it as a float, the function says it's not even. How do you think we can test for something like this?